<div class="centerMe">
    <mat-card>
        <mat-card-content style="text-align: left;">
            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">kategoria:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{category.category}}</mat-label>
            </p>

            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">data utworzenia:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{category.createdAt | date: 'dd.MM.yyyy'}}</mat-label>
            </p>

            <p *ngIf="category.isModified === true">
                <mat-label style="font-size: 18px; padding-left: 20px;">data edycji:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{category.isModified | date: 'dd.MM.yyyy'}}</mat-label>
            </p>

            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">stworzona przez:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{userName}}</mat-label>
            </p>
        </mat-card-content>
    </mat-card>
</div>