<div class="centerMe">
    <mat-card style="margin-top: 40px; padding-top: 40px;">
      <mat-label style="font-size: 24px;">Nowy autor</mat-label>
      <mat-card-content>
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field [style.width.px]=350 style="margin: auto; margin-top: 40px">
          <mat-label>nazwisko</mat-label>
          <input type="text" matInput placeholder="nazwisko..." formControlName="surname">
        </mat-form-field>
      </p>
   
      <p>
        <mat-form-field [style.width.px]=350 style="margin: auto; margin-top: 20px">
          <mat-label>imię</mat-label>
          <input type="text" matInput placeholder="imię..." formControlName="name">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field [style.width.px]=350 style="margin: auto; margin-top: 20px">
          <mat-label>drugie imię</mat-label>
          <input type="text" matInput placeholder="drugie imię..." formControlName="secondName">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field [style.width.px]=350 style="margin: auto; margin-top: 20px">
          <mat-label>biorgrafia</mat-label>
          <textarea type="text" matInput placeholder="biografia..." formControlName="biography"></textarea>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field [style.width.px]=350 style="margin: auto; margin-top: 20px">
            <mat-label>Data urodzin</mat-label>
            <input matInput [matDatepicker]="dateOfBirth" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirth></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field [style.width.px]=350 style="margin: auto; margin-top: 20px">
            <mat-label>Data śmierci</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="deathDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <p>
        <button type="submit" mat-raised-button color="accent" style="margin-top: 30px;">Dodaj</button>
      </p>
  
    </form>
  
    </mat-card-content>
    </mat-card>
  </div>