span{
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
  }
  
  .right-side{
    float: right;
    margin-right: 30px;
    margin-left: auto;
    padding-left: 10px;
  }
  
  .distanse{
    float: right;
    margin-left: 15px;
  }
  